[class*=' imghvr-'], [class^=imghvr-] {
    position: relative;
    display: inline-block;
    margin: 0;
    width: max-content;
    background-color: #fff;
    overflow: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

[class*=' imghvr-'] img, [class^=imghvr-] img {
    vertical-align: top;
    max-width: max-content
}

[class*=' imghvr-'] figcaption, [class^=imghvr-] figcaption {
    background-color: #fff;
    box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.3);
    padding: 20px;
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
}

[class*=' imghvr-'] h3, [class*=' imghvr-'] p, [class^=imghvr-] h3, [class^=imghvr-] p {
    margin: 0;
    padding: 0
}

[class*=' imghvr-'], [class*=' imghvr-'] *, [class*=' imghvr-'] :after, [class*=' imghvr-'] :before, [class*=' imghvr-']:after, [class*=' imghvr-']:before, [class^=imghvr-], [class^=imghvr-] *, [class^=imghvr-] :after, [class^=imghvr-] :before, [class^=imghvr-]:after, [class^=imghvr-]:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .35s ease;
    transition: all .35s ease
}

.imghvr-fade figcaption, .imghvr-fade:hover img {
    opacity: 0;
    width: max-content;
}

.imghvr-fade:hover figcaption {
    opacity: 1
}

[class*=' imghvr-zoom-out'] figcaption, [class^=imghvr-zoom-out] figcaption {
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 0
}

[class*=' imghvr-zoom-out'].hover figcaption, [class*=' imghvr-zoom-out']:hover figcaption, [class^=imghvr-zoom-out].hover figcaption, [class^=imghvr-zoom-out]:hover figcaption {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition-delay: .3s;
    transition-delay: .3s
}

.imghvr-zoom-out:hover img {
    -webkit-transform: scale(.5);
    transform: scale(.5);
    opacity: 0
}