/* Global styling */

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    overflow-x: hidden !important;
}

html {
    scroll-behavior: smooth;
}

.title {
    font-size: 3rem;
    font-weight: bolder;
}

.purple-word {
    color: #F81CF0;
}

/* Global styling */

/* Landing page */

.landing-page-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100vh !important;
    background-image: linear-gradient(to bottom, #fff 20%, #FFE3FE);
    z-index: 900;
}

.landing-page-container {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing-page-image-container {
    width: 22.5vw;
    height: 45vh;
    background: #F0F2F0;
    background: -webkit-linear-gradient(to bottom, #F81CF0, #581156);
    background: linear-gradient(to bottom, #F81CF0, #581156);
    -webkit-box-shadow: 0px 0px 30px -8px rgba(248, 28, 240, 1);
    -moz-box-shadow: 0px 0px 30px -8px rgba(248, 28, 240, 1);
    box-shadow: 0px 0px 30px -8px rgba(248, 28, 240, 1);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5rem;
}

.landing-page-img {
    width: 20vw;
    border-radius: 100%;
}

.landing-page-text-content {
    margin-left: 5rem;
}

.landing-page-description {
    color: #666666;
}

.landing-page-action-btn {
    background-color: #F81CF0;
    -webkit-box-shadow: 0px 0px 30px -8px rgba(248, 28, 240, 1);
    -moz-box-shadow: 0px 0px 30px -8px rgba(248, 28, 240, 1);
    box-shadow: 0px 0px 30px -8px rgba(248, 28, 240, 1);
    border: none;
    color: #fff;
    padding: 0.3rem 5rem;
    width: 25vw;
    height: 5vh;
    border-radius: 5px;
    margin-top: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.landing-page-action-btn:focus {
    outline: none;
}

.landing-page-action-btn:hover {
    background-color: #581156;
    transition: 1.5s;
    -webkit-box-shadow: 0px 0px 30px -8px #581156;
    -moz-box-shadow: 0px 0px 30px -8px #581156;
    box-shadow: 0px 0px 30px -8px #581156;
}

/* Landing page */

/* Contact */

#contact {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Contact */